/*
  darkblue  : #176785;
  bluegreen : #499989;
  lightgreen: #BED194;
  milk      : #FFD7AC;
  red       : #FF534E;
*/

html {
}

body {
  color: #176785;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #FF534E;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

a:hover {
  border-bottom-color:#FFD7AC;
}

.container {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}

article {
  position: relative;
  padding: 3em 5em;
  border: 1px solid #BED194;
  margin-bottom: 3em;
  border-radius: 5px;
}

article:hover {
  border-color: #499989;
}

article:first-child {
  margin-top: 3em;
}

article .title {
  position: absolute;
  left: 10px;
  top: -32px;
  padding-left: 5px; padding-right: 5px;
  background-color: #fff;
}

@media (max-width: 960px) {
  .container {
    width: 90%;
  }
}