/*
  darkblue  : #176785;
  bluegreen : #499989;
  lightgreen: #BED194;
  milk      : #FFD7AC;
  red       : #FF534E;
*/

html {
}

body {
  color: #176785;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #FF534E;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

a:hover {
  border-bottom-color:#FFD7AC;
}

.control {
  display: inline-block;
  width: 10%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #FFD7AC;
  border-radius: 5px;
  margin: 10px;
}

.container {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}

article {
  position: relative;
  padding: 0 5em;
  border: 1px solid #BED194;
  margin-bottom: 3em;
  border-radius: 5px;
}

article:hover {
  border-color: #499989;
}

article:first-child {
  margin-top: 3em;
}

article .title {
  position: absolute;
  left: 10px;
  top: -32px;
  padding-left: 5px; padding-right: 5px;
  background-color: #fff;
}

@media (max-width: 960px) {
  .container {
    width: 90%;
  }

  article {
    padding: 0 2em;
  }
}